Berisi tahapan:
- Loading data
- EDA
- Preprocessing
- Simpan file hasil

In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

1. Load Data

In [3]:
df = pd.read_csv('winequality-red.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
None

2. EDA

In [4]:
df.describe()
df.isna().sum()
df['quality'].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

3. Preprocessing

In [5]:
# Binary classification: quality >= 7 dianggap wine "bagus"
df['label'] = df['quality'].apply(lambda x: 1 if x >= 7 else 0)
df.drop('quality', axis=1, inplace=True)

In [6]:
# Normalisasi
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df.drop('label', axis=1))

In [7]:
# Final dataset
df_scaled = pd.DataFrame(X_scaled, columns=df.drop('label', axis=1).columns)
df_scaled['label'] = df['label']

4. Simpan Hasil

In [9]:
df_scaled.to_csv('winequality_preprocessed.csv', index=False)